code/XMLSitemap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="urlset">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="url">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="loc" type="xs:string" />
              <xs:element name="lastmod" type="xs:date" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="priority" type="xs:unsignedByte" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="url">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="loc" type="xs:string" />
                    <xs:element name="lastmod" type="xs:date" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="priority" type="xs:unsignedByte" />
                    <xs:element name="sourcetable" type="xs:string" />
                    <xs:element name="sourceid" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>